HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### CPU and GPU models ###
pulsestack/notebooks/model1/
pulsestack/notebooks/gpu_optimal_pipeline_LR_V2/
notebooks/gpu_optimal_pipeline_LR_V2/metadata/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/metadata/._SUCCESS.crc
notebooks/gpu_optimal_pipeline_LR_V2/metadata/.part-00000.crc
notebooks/gpu_optimal_pipeline_LR_V2/metadata/part-00000
notebooks/gpu_optimal_pipeline_LR_V2/stages/0_VectorAssembler_a6c22e5f5100/metadata/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/stages/0_VectorAssembler_a6c22e5f5100/metadata/._SUCCESS.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/0_VectorAssembler_a6c22e5f5100/metadata/.part-00000.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/0_VectorAssembler_a6c22e5f5100/metadata/part-00000
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/data/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/data/._SUCCESS.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/data/.part-00000-8dd18926-b95c-4370-9da1-e3895d195e97-c000.snappy.parquet.crc
.gitignore
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/data/part-00000-8dd18926-b95c-4370-9da1-e3895d195e97-c000.snappy.parquet
.gitignore
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/metadata/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/metadata/._SUCCESS.crc
.gitignore
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/metadata/.part-00000.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/1_StandardScaler_18de94d8cf3d/metadata/part-00000
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/data/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/data/._SUCCESS.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/data/.part-00000-547688f6-19a0-4bbb-b84e-5230c12c7734-c000.snappy.parquet.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/data/part-00000-547688f6-19a0-4bbb-b84e-5230c12c7734-c000.snappy.parquet
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/metadata/_SUCCESS
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/metadata/._SUCCESS.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/metadata/.part-00000.crc
notebooks/gpu_optimal_pipeline_LR_V2/stages/2_LogisticRegression_75c90873beb8/metadata/part-00000
notebooks/model1/metadata/_SUCCESS
notebooks/model1/metadata/._SUCCESS.crc
notebooks/model1/metadata/.part-00000.crc
notebooks/model1/metadata/part-00000
notebooks/model1/stages/0_StringIndexer_ae392ef79766/data/_SUCCESS
notebooks/model1/stages/0_StringIndexer_ae392ef79766/data/._SUCCESS.crc
notebooks/model1/stages/0_StringIndexer_ae392ef79766/data/.part-00000-38b2f804-7b94-4d37-8442-b21e0f36bcf0-c000.snappy.parquet.crc
notebooks/model1/stages/0_StringIndexer_ae392ef79766/data/part-00000-38b2f804-7b94-4d37-8442-b21e0f36bcf0-c000.snappy.parquet
notebooks/model1/stages/0_StringIndexer_ae392ef79766/metadata/_SUCCESS
notebooks/model1/stages/0_StringIndexer_ae392ef79766/metadata/._SUCCESS.crc
notebooks/model1/stages/0_StringIndexer_ae392ef79766/metadata/.part-00000.crc
notebooks/model1/stages/0_StringIndexer_ae392ef79766/metadata/part-00000
notebooks/model1/stages/1_VectorAssembler_dd34e49af5a1/metadata/_SUCCESS
notebooks/model1/stages/1_VectorAssembler_dd34e49af5a1/metadata/._SUCCESS.crc
notebooks/model1/stages/1_VectorAssembler_dd34e49af5a1/metadata/.part-00000.crc
notebooks/model1/stages/1_VectorAssembler_dd34e49af5a1/metadata/part-00000
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/data/._SUCCESS.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/data/_SUCCESS
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/data/.part-00000-2142c0e5-0528-419c-b02f-2bbefedb5997-c000.snappy.parquet.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/data/part-00000-2142c0e5-0528-419c-b02f-2bbefedb5997-c000.snappy.parquet
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/metadata/_SUCCESS
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/metadata/._SUCCESS.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/metadata/.part-00000.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/metadata/part-00000
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/treesMetadata/_SUCCESS
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/treesMetadata/._SUCCESS.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/treesMetadata/.part-00000-86a9710f-bf9a-437a-bda7-3c11c624bca7-c000.snappy.parquet.crc
notebooks/model1/stages/2_RandomForestClassifier_3fb52ab7c7e0/treesMetadata/part-00000-86a9710f-bf9a-437a-bda7-3c11c624bca7-c000.snappy.parquet
