server:
  port: 8081 # changed because jupyter utilizes 8080 as well

spring:
  datasource:
      url: jdbc:postgresql://localhost:5432/pulsestack_db
      username: postgres
      password: postgres
      driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      consumer:
        group-id: dashboard-consumer-group
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        auto-offset-reset: latest
  main:
    allow-circular-references: true

# disable the security on swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html

# logging
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.pulsestack: DEBUG